.rptu-navbar {
    padding: 1.5rem 1.5rem 0px 1.5rem;
}

.rptu-department {
    display: flex;
    font-size: 1.3rem;

    a {
        color: #333;
        cursor: pointer;
        text-transform: none;
        font-family: "OpenSans", Arial, sans-serif;
    }
}

.rptu-department:hover {
    text-decoration: underline;
}

.rptu-logo {
    max-width: 50%;
    
    img {
        padding-bottom: 1.5rem;
        width: 12rem;
    }
}

.rptu-container {
    padding-right: .5rem;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    list-style: none outside none;
    margin-bottom: auto;

    li {
        font-size: 0.85rem;
        margin-right: 15px;
        color: #565654;
        cursor: pointer;
        font-family: "OpenSans", Arial, sans-serif;
    }
    li:hover {
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;

        li {
            margin-bottom: 0.25rem;
        }
    }
}

.navbar {
    @extend .navbar;
    position: sticky;
    top: 0;
    z-index: 9999;
    .navbar-brand {
        .navbar-item {
            img {
                max-height: unset !important;
            }
        }
    }

    .navbar-menu {
        @media (min-width: 1025px) {
            .navbar-item:hover, .navbar-item:focus {
                background-color: #e2e2e2
            }
        }
    }

    &.has-text-white {
        .navbar-menu {
            @media (min-width: 1025px) {
                .navbar-item {
                    color: white !important
                }
                .navbar-item:hover, .navbar-item:focus {
                    background-color: #476579
                }
            }
        }
    }
};

// // Old navbar
// .header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 100;
//     background: $color-blue;

//     @include min(40em) {
//         background: none;
//     }

//     &.header--fixed {
//         background: $color-blue;

//         .logo span {
//             display: inline-block;
//             background: url('../img/logo_small.png') no-repeat top left;
//             width: 84px;
//             height: 35px;
//         }
//     }
// }

// .logo {
//     display: inline-block;
//     text-align: center;
//     width: 100%;
//     padding: .5rem 0 .3rem 0;

//     @include min(55em) {
//         text-align: left;
//         width: auto;
//     }

//     span {
//         display: inline-block;
//         background: url('../img/logo_small.png') no-repeat top left;
//         width: 84px;
//         height: 35px;
//         text-indent: -1000%;
//         overflow: hidden;

//         @include min(40em) {
//             display: inline-block;
//             background: url('../img/logo_full.png') no-repeat top left;
//             width: 242px;
//             height: 57px;
//         }
//     }
// }

// .nav {
//     position: fixed;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: block;
//     text-align: center;
//     background: $color-blue;

//     @include min(40em) {
//         position: relative;
//         display: flex;
//         width: 100%;
//         background: none;
//     }

//     @include min(55em) {
//         width: auto;
//         position: relative;
//         display: flex;
//         text-align: right;
//     }

//     &.nav--open {
//         display: inline-block;
//         background: $color-blue;
//     }

//     ul {
//         align-self: center;
//         display: flex;
//         justify-content: space-around;
//         flex-wrap: wrap;
//         list-style: none;
//         margin: 0 auto;
//         padding: 0;

//         @include min(40em) {
//             display: block; 
//         }
//     }

//     li {
//         display: inline-block;

//         @include min(40em) {
            
//         }
//     }

//     a {
//         display: block;
//         padding: .7em .4em .6em;
//         color: #fff;
//         text-decoration: none;
//         text-transform: uppercase;
//         font-family: $font-secondary;
//         font-size: .6rem;

//         &:hover {
//             color: $color-orange;
//         }

//         @include min(31.25em) {
//             font-size: .7rem;
//         }

//         @include min(40em) {
//             font-size: 1rem;
//             padding: .8em;
//         }
//     }

//     i {
//         display: block;
//         font-size: 1.3rem;
//         margin-bottom: .4rem;

//         @include min(40em) {
//             display: none;
//         }
//     }
// }