.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: $color-blue;

    @include min(40em) {
        background: none;
    }

    &.header--fixed {
        background: $color-blue;

        .logo span {
            display: inline-block;
            background: url('../img/logo_small.png') no-repeat top left;
            width: 84px;
            height: 35px;
        }
    }
}

.logo {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: .5rem 0 .3rem 0;

    @include min(55em) {
        text-align: left;
        width: auto;
    }

    span {
        display: inline-block;
        background: url('../img/logo_small.png') no-repeat top left;
        width: 84px;
        height: 35px;
        text-indent: -1000%;
        overflow: hidden;

        @include min(40em) {
            display: inline-block;
            background: url('../img/logo_full.png') no-repeat top left;
            width: 242px;
            height: 57px;
        }
    }
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    text-align: center;
    background: $color-blue;

    @include min(40em) {
        position: relative;
        display: flex;
        width: 100%;
        background: none;
    }

    @include min(55em) {
        width: auto;
        position: relative;
        display: flex;
        text-align: right;
    }

    &.nav--open {
        display: inline-block;
        background: $color-blue;
    }

    ul {
        align-self: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 auto;
        padding: 0;

        @include min(40em) {
            display: block; 
        }
    }

    li {
        display: inline-block;

        @include min(40em) {
            
        }
    }

    a {
        display: block;
        padding: .7em .4em .6em;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-secondary;
        font-size: .6rem;

        &:hover {
            color: $color-orange;
        }

        @include min(31.25em) {
            font-size: .7rem;
        }

        @include min(40em) {
            font-size: 1rem;
            padding: .8em;
        }
    }

    i {
        display: block;
        font-size: 1.3rem;
        margin-bottom: .4rem;

        @include min(40em) {
            display: none;
        }
    }
}