.research__cell {
  background-color: white;
  padding: 1rem;
  max-height: 100%;
  
  &:first-child {
    max-width: 50%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  @media (max-width: 768px) {
    border-radius: unset; 
  }
}

.research__bg {
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-image: url(../img/research_bg.jpg);
  background-position: left center;
}

.research__grid {
  max-width: 80%;
  column-gap: unset;

  @media (max-width: 768px) {
    row-gap: unset; // Adjusted max-width for tiny screens
  }

  @media (max-width: 639px) {
    max-width: unset; // Adjusted max-width for tiny screens
  }
}

.research__content {
  @media (max-width: 639px) {
    font-size: 0.75rem; // Adjusted max-width for tiny screens
  }
  @media (min-width: 1400) {
    font-size: 1.50rem; // Adjusted max-width for tiny screens
  }
}