.btn {
    display: inline-block;
    padding: .8em 1em;
    line-height: 1;
    text-transform: uppercase;
    border: 2px solid $color-grey;
    border-radius: 4px;
    font-family: $font-secondary;
    color: $color-grey;

    &:hover {
        border-color: $color-primary;
        color: $color-primary;
    }

    &.btn--active {
        background: $color-primary;
        border-color: $color-primary;
        color: white;

        &:hover {
            border-color: $color-primary;
            color: white;
        }
    }

    &.btn--small {
        font-size: .75rem;

        @include min(40em) {
            font-size: .875rem;
        }
    }
}

.btn-group {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
    text-align: center;

    @include min(40em) {
        margin-bottom: 3rem;
    }

    li {
        display: inline-block;
    }

    .btn {
        margin-bottom: .5rem;
    }
}