@use 'sass:math';

body {
    background-color: $color-default-bg; //rptu color
}

.csb-content {
    background: #efefef;
    margin-bottom: 0 !important
}


.csb-tabs {
    display: block;
    width: 100%;

    .csb-tab {
        display: none;
        width: 100%;

        &.csb-tab--active {
            display: block;
        }
    }
}

.section {
    padding: 2rem 0 1rem 0;

    @include min(40em) {
        padding-top: 10vh;
        padding-bottom: calc(10vh - 1rem);
    }
}

    .section--people {
        background: #fff;
    }
    .section--publication {
        background: #f5f4f4;
    }

    .section__title {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: .5rem;
    }

    .section__subtitle {
        display: block;
        width: 100%;
        text-align: center;
    }


// WELCOME SECTIOn
.welcome {
    position: relative;
    background: $color-blue url(../video/snapshots/Working-Space.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    padding-top: 5rem;
    text-align: center;
    overflow: hidden;

    @include min(40em) {
        //background: $color-blue;
        padding-top: 10rem;
        padding-bottom: 10%;
    }

    @include min(60em) {
        padding-top: 28vh;
        padding-bottom: 18vh;
    }

    .container {
        position: relative;
        z-index: 10;
    }

    h2 {
        color: white !important;
        width: 100%;
        font-size: 1.2rem;

        @include min(35em) {
            font-size: 2rem;
        }

        @include min(40em) {
            font-size: 2.5rem;
        }

        @include min(55em) {
            font-size: 3rem;
        }
        @include min(65em) {
            font-size: 3.75rem;
        }
    }

    p {
        margin: 0 auto 1rem;
        width: 100%;
        font-size: .875rem;

        @include min(35em) {
            font-size: 1rem;
        }

        @include min(40em) {
            font-size: 1rem;
            width: 70%;
        }

        @include min(55em) {
            font-size: 1.125rem;
        }
    }
}

    .welcome__video {
        display: none;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        min-width: 100%; 
        min-height: 100%; 
        width: auto;
        height: auto;

        @include min(40em) {
            display: block;
        }
    }

    .welcome__overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba($color-blue, .6);
    } 

    


// RESEARCH
.research {
    padding: 0;
    background: linear-gradient(to top, rgba($color-lightblue, .5), rgba(255, 255, 255, 0));

    .container {
        align-content: stretch;
    }
}

    .research__title,
    .research__text {
        width: 100%;
        padding: 2rem;
        padding-bottom: 1rem;
        margin: auto;

        @include min(40em) {
            width: 50%;
            padding: 10vh 2rem;
        }
    }

    .research__title {
        display:flex;
        align-items:center;
        align-self:stretch;
        flex-wrap: wrap;
        text-align: center;
        background: url(../img/research_bg.jpg) no-repeat center center;
        background-size: cover;
        color: #fff;
        margin: 0;

        @include min(40em) {
            text-align: right;
        }

        > div {
            width: 100%;
        }
    }

    .research__text {
        max-width: math.div($grid-max-width, 2);
        margin-left: 0;
    }

.publication-container {

    .publication {
        display: none;
    }

    &.active {

        max-height: 80vh;
        overflow-y: scroll;

        .publication {
            display: block;
        }
    }
}

// STATISTICS
.stats {
    background: #fff;
    padding: 2rem 0;

    @include min(40em) {
        padding: 5vh 0;
    }

    .container {
        justify-content: space-between;
    }
}

    .stat {
        display: inline-block;
        width: 50%;
        flex-grow: 1;
        text-align: center;
        margin-bottom: 1rem;

        @include min(18.75em) {
            width: 20%;
            //text-align: left;
            margin: 0;
        }
    }

        .stat__number {
            display: block;
            font-size: 1.2rem;

            @include min(40em) {
                font-size: 1.6rem;
            }

            @include min(50em) {
                font-size: 2rem;
            }
        }

        .stat__label {
            display: block;
            font-size: .75rem;
            color: $color-lightblue;

            @include min(40em) {
                font-size: .87rem;
            }

            @include min(50em) {
                font-size: 1rem;
            }
        }



//TEAM
.persons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.alumni-container {
    width: 100%;
}

.alumni {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    li {
        display: block;
        font-size: 0;
    }

    .alumni__year {
        vertical-align: top;
        display: inline-block;
        font-weight: bold;
        text-align: right;
        font-size: 1rem;
        width: 30%;
        padding: 1rem;
    }

    .alumni__people {
        border-left: 1px solid $color-grey;
        vertical-align: top;
        display: inline-block;
        font-size: 1rem;
        width: 70%;
        padding: 1rem;
        margin: 0 0 1rem 0;
    }
}

.person {
    position: relative;
    display: flex;
    flex-direction: column;
    // width: 40%;
    flex-grow: 1;
    margin: 0;
    text-align: center;
    padding: 0 .5rem;
    margin-bottom: 2rem;

    @include min(40em) {
        // width: 25%;
    }
}
    .person__name {
        margin: 1rem 0 .2rem 0;
        font-size: 1.2rem;
        text-transform: none;
    }

    .person__avatar,
    .person__image {
        display: block;
        width: 7rem;
        height: auto;
        margin: 0 auto;
        border-radius: 50%;
        filter: grayscale(100%);
    }
    .person__avatar {
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        background: $color-grey;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        font-family: $font-secondary;
    }
    .person__role {
        color: $color-lightblue;
        margin-bottom: 1rem;
    }
    // .person__socials a{
    // }
    .person__orcid {
        color: $color-orcid;
    }
    .person__twitter {
        color: $color-twitter;
    }
    .person__github {
        color: $color-github;
    }



// TEACHING
.teaching {
    background: url(../../img/teaching_bg.jpg) no-repeat bottom center;
    background-size: cover;
}


// GITHUB
.github {
    padding: 1rem 0;
    background: $color-primary;
    color: #fff;
    text-align: center;

    @include min(40em) {
        padding: 5vh 0;
        padding-bottom: 5vh;
        text-align: left;
    }
    
    .github__link {
        color: #fff;
        font-size: 2rem;
        align-self: center;
        margin: auto;
        width: 100%;

        @include min(40em) {
            width: auto;
            font-size: 4rem;
            margin-right: 1rem;
        }
    }
    
    h3 {
        font-size: 1rem;
    }

    p {
        opacity: .8;
    }

    .github__text {
        margin: auto;
        align-self: center;

        @include min(40em) {
            margin: auto auto auto 0;

            p {
                margin: 0;
            }
        }
    }

    .btn {
        margin: auto;
        align-self: center;
        color: #fff;
        border-color: #fff;
        font-size: .75rem;

        @include min(40em) {
            margin-right: 0;
            font-size: 1rem;
        }

        &:hover {
            background: white;
            color: $color-orange;
        }
    }
}

.contact {
    a {
        display: inline-block;
        margin: 0 .5em 1rem 0;
        font-size: .875rem;
        color: inherit;
        border-bottom: 1px solid rgba(black, 0);

        &:hover {
            border-bottom: 1px solid;
        }
    }
}